@media screen and (max-width: 768) {
    .main-text img {
        width: 50%;
    }
  

    
}


@media screen and (min-width: 768px) {

    .menu-container {
        border-bottom: 1px solid grey;
        display: flex;
        flex-direction: row;

        .menu {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }


        .fa-solid {
        display: none;
        }
    }

   .menu-container .menu .dropdown-content {
        display: flex;
        flex-direction: row;
        position: absolute;
        top: -1em;
        left: 30em;
        list-style-type: none;

        a {
            text-decoration: none;
        }
       
        a:hover {
            font-size: 1.5em;
            color: green;
        }

        .hidden {
            margin: 0 0.5em;
            border-style: none;
        }
        
    }

    .dropdown:hover > .dropdown-content{ 
        display: flex;
    }
        

    .main-text {
        height: 20em;
        display: flex;
        justify-content: center;
        margin: 5em 0 20em 0;
        

        img {
            margin-right: 5em;
        }
        .content-text {
            height: 30em;
            width: 30em;
            
            p {
                font-size: 1.4em;
            }
        }

        .background-image-one {
            display: block;
            position: absolute;
            z-index: -1;
            width: 15%;
            top: 35em;
            left: 2em;
            transform: rotate(-20deg);
        }
        .background-image-two {
            display: block;
            position: absolute;
            z-index: -1;
            width: 15%;
            bottom: 10em;

        }
            .background-image-three {
                display: block;
                position: absolute;
                z-index: -1;
                width: 15%;
                top: 35em;
                right: 2em;
                transform: rotate(20deg);

       }
    
    }      

    .main-text > img {
        box-shadow: 0 0 0.2em 0.2em;
    }

    .skills {
        display: flex;
        flex-direction: column;

        h2 {
            margin-bottom: 5em;
        }

        .goal-skills {
            height: 10em;
            width: auto;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-end;
            margin-bottom: 5em;


            p {
                align-items: flex-end;
                position: relative;
                left: -3em;
            }

            p:last-of-type {
                left: 0.5em;
            }

            img {
                align-self: flex-start;
                justify-content: center;
                width: 5%;
                height: auto;
                position: relative;
                left: 7.2em;
            }
        }

        .skills-image {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-bottom: 5em;
            justify-content: space-around;

            .firstimage,
            .secondimage,
            .thirdimage,
            .fourthimage {
                position: inherit;
                width: 7%;
                filter: drop-shadow(-0.55rem 0 0.20rem rgb(53, 34, 25));    
                
                }

                .firstimage > .tooltip-container{
                    display: inline-block;
                    position: absolute;
                    width: 5em;
                    height: 3em;
                    text-align: center;
                    padding: 0.2em 0;
                    border-radius: 6px;
                    left: -1.5em;
                    bottom: -3em;

                        .tooltiptext {
                            visibility: hidden;
                            position: absolute;
                            width: 6em;
                            background-color: rgb(58, 50, 50);
                            color: #fff;
                            z-index: 1;
                            
                        }

                } 

                .secondimage > .tooltip-container{
                    display: inline-block;
                    position: absolute;
                    width: 5em;
                    height: 3em;
                    text-align: center;
                    padding: 0.2em 0;
                    border-radius: 6px;
                    left: -2.8em;
                    bottom: -3em;

                        .tooltiptext {
                            visibility: hidden;
                            position: absolute;
                            width: 6em;
                            background-color: rgb(58, 50, 50);
                            color: #fff;
                            z-index: 1;
                            
                        }

                }

                .thirdimage > .tooltip-container{
                    display: inline-block;
                    position: absolute;
                    width: 5em;
                    height: 3em;
                    text-align: center;
                    padding: 0.2em 0;
                    border-radius: 6px;
                    left: -0.5em;
                    bottom: -3em;

                        .tooltiptext {
                            visibility: hidden;
                            position: absolute;
                            width: 6em;
                            background-color: rgb(58, 50, 50);
                            color: #fff;
                            z-index: 1;
                            
                        }

                }

                .fourthimage > .tooltip-container{
                    display: inline-block;
                    position: absolute;
                    width: 5em;
                    height: 3em;
                    text-align: center;
                    padding: 0.2em 0;
                    border-radius: 6px;
                    left: -1em;
                    bottom: -3em;

                        .tooltiptext {
                            visibility: hidden;
                            position: absolute;
                            width: 6em;
                            background-color: rgb(58, 50, 50);
                            color: #fff;
                            z-index: 1;
                            
                        }

                }



            .firstimage:hover .tooltiptext {
                visibility: visible;
            }

            .secondimage:hover .tooltiptext {
                visibility: visible;
            }

            .thirdimage:hover .tooltiptext {
                visibility: visible;
            }

            .fourthimage:hover .tooltiptext {
                visibility: visible;
            }
                .secondimage {
                width: 5.5em;
            }

            img {
                width: 100%;
            }
         
        }
    }
    
    .container-footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0 0 1em 0;
        
        .footer {
            left: -2em;
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 100%;

        }

    }

    .copyright {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5.5em 0 2em 0;
        border: 1px solid grey;
        background-color: #f2f2f2;

        p {
            font-size: 1.2em;
        }

    }

   
}