* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

.menu-container {
  /*background-color: #f2f2f2;*/
  background-image: url(/assets/images/cool-background\(3\).png);
  background-size: cover;
  display: flex;
  padding: 1em;
}
.menu-container a {
  text-decoration: none;
  color: black;
}
.menu-container h2 {
  font-family: "Inconsolata", monospace, sans-serif;
}
.menu-container .menu {
  margin: auto;
  list-style: none;
}
.menu-container .menu .dropdown {
  margin-left: 3em;
  height: 1em;
  width: 5em;
  position: relative;
  display: inline-block;
  z-index: 0;
}
.menu-container .menu .dropdown-content {
  display: none;
  text-align: center;
  top: 2em;
  right: -0.5em;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}
.menu-container .menu .dropdown-content .dropdown-content a {
  display: block;
  padding: 12px 16px;
}
.menu-container .menu .hidden {
  margin: 0.5em 0;
  border-bottom: 1px solid grey;
}
.menu-container .menu a,
.menu-container .menu a:link,
.menu-container .menu a:checked,
.menu-container .menu a:visited {
  font-family: "Inconsolata", monospace, sans-serif;
  padding: 12px 16px;
  color: inherit;
  display: block;
}

.dropdown:hover > .dropdown-content {
  display: block;
}

.main-text {
  margin-top: 0.5em;
  text-align: center;
}
.main-text img {
  max-width: 50%;
  height: auto;
  border-radius: 5%;
  margin: 0 0 2em 0;
}
.main-text .content-text {
  flex-shrink: 2;
}
.main-text .content-text .title-name {
  color: #86c5d8;
}
.main-text .content-text h1 {
  font-size: 3em;
  font-family: "Caveat", cursive;
}
.main-text .content-text .word-1 {
  color: green;
}
.main-text .content-text .word-2 {
  color: #f5ebeb;
}
.main-text .content-text .word-3 {
  color: red;
}
.main-text .content-text p {
  font-family: "Mukta", sans-serif;
  margin: 0.3em 0;
}
.main-text .content-text .button-36 {
  background-image: linear-gradient(92.88deg, #455eb5 9.16%, #5643cc 43.89%, #673fd7 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 4rem;
  margin-top: 1em;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all 0.5s;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 1em;
}
.main-text .content-text .button-36:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: 0.1s;
}
.main-text .background-image-one,
.main-text .background-image-two,
.main-text .background-image-three {
  display: none;
}

.skills {
  /*background-color: #f2f2f2;*/
  background-image: url(/assets/images/cool-background\(2\).png);
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.skills h2 {
  font-size: 2em;
  text-align: center;
  margin-top: 3em;
}
.skills .goal-skills {
  display: none;
}
.skills .goal-skills p {
  font-family: "Mukta", sans-serif;
}
.skills .skills-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills .skills-image .tooltip-container {
  visibility: hidden;
}
.skills .skills-image img {
  margin-top: 2em;
  height: 100%;
  width: 25%;
}
.skills .skills-image .firstimage {
  position: relative;
  left: 3em;
  width: 100%;
}
.skills .skills-image .secondimage {
  position: relative;
  left: 16em;
}
.skills .skills-image .thirdimage {
  position: relative;
  left: 3.2em;
  width: 100%;
}
.skills .skills-image .fourthimage {
  position: relative;
  left: 16em;
  top: -2em;
}

.container-footer {
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 15em;
}
.container-footer .footer {
  display: flex;
  flex-direction: column;
  align-content: center;
  position: relative;
  left: 4.3em;
  padding: 2em 0 0em 0;
  width: 60%;
  font-size: 0.9em;
}
.container-footer .footer a {
  margin: 2em;
  color: black;
}
.container-footer .fa-linkedin:link,
.container-footer .fa-linkedin:checked,
.container-footer .fa-linkedin:visited,
.container-footer .fa-envelope:link,
.container-footer .fa-envelope:checked,
.container-footer .fa-envelope:visited,
.container-footer .fa-github-alt:link,
.container-footer .fa-github-alt:checked,
.container-footer .fa-github-alt:visited {
  color: black;
}
.container-footer .fa-linkedin:hover,
.container-footer .fa-envelope:hover,
.container-footer .fa-github-alt:hover {
  color: blue;
}

.copyright {
  position: relative;
  text-align: center;
  background-image: url(/assets/images/cool-background\(4\).png);
  background-size: cover;
  padding: 3em 0 2em 0;
}

.welcome-text {
  margin: 3em 0;
  text-align: center;
  font-family: "Inconsolata", monospace, sans-serif;
  font-size: 0.8em;
}

.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em 0 0 0;
}
.projects-container .prova {
  height: 10em;
  width: 10em;
  margin: 5em;
}
.projects-container .prova p {
  text-align: center;
  margin: 2em;
}
.projects-container .project-one {
  height: 10em;
  width: 10em;
}
.projects-container .project-two {
  height: 10em;
  width: 10em;
}
.projects-container .project-three {
  height: 10em;
  width: 10em;
}
.projects-container .project-one img,
.projects-container .project-two img,
.projects-container .project-three img {
  width: 100%;
}

.copyright-pagetwo {
  text-align: center;
  background-image: url(/assets/images/cool-background\(4\).png);
  background-size: cover;
  padding: 1em 0 2em 0;
  margin-top: 5em;
}

body {
  background-image: url(/assets/images/cool-background\(4\).png);
  background-size: cover;
}

.aboutme-container {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5em 0;
}
.aboutme-container h1 {
  margin: 1.2em 0;
  font-size: 2em;
  font-family: "Andika", sans-serif;
  background: #3011CF;
  background: radial-gradient(circle farthest-side at center center, #3011CF 0%, #CF34BA 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.aboutme-container p {
  text-align: center;
  font-family: "Playfair Display", serif;
}
.aboutme-container img {
  width: 50%;
  border-radius: 3em;
}

.resume .resume-container {
  border: 1px ridge black;
}
.resume .resume-container p {
  line-height: 1.6;
}
.resume h2 {
  text-align: center;
  background: #3011CF;
  background: repeating-radial-gradient(ellipse farthest-side at bottom center, #3011CF 0%, #CF34BA 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.resume li {
  text-align: center;
}

.copyright-three {
  border: 1px solid black;
  text-align: center;
  padding: 1em 0 2em 0;
}

@media screen and (max-width: 768) {
  .main-text img {
    width: 50%;
  }
}
@media screen and (min-width: 768px) {
  .menu-container {
    border-bottom: 1px solid grey;
    display: flex;
    flex-direction: row;
  }
  .menu-container a {
    text-decoration: none;
    color: black;
  }
  .menu-container .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .menu-container .fa-solid {
    display: none;
  }
  .menu-container .menu .dropdown-content {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: -1em;
    left: 30em;
    list-style-type: none;
  }
  .menu-container .menu .dropdown-content a {
    text-decoration: none;
  }
  .menu-container .menu .dropdown-content a:hover {
    font-size: 1.5em;
    color: blue;
  }
  .menu-container .menu .dropdown-content .hidden {
    margin: 0 0.5em;
    border-style: none;
  }
  .dropdown:hover > .dropdown-content {
    display: flex;
  }
  .main-text {
    height: 20em;
    display: flex;
    justify-content: center;
    margin: 5em 0 20em 0;
  }
  .main-text img {
    margin-right: 5em;
  }
  .main-text .content-text {
    height: 30em;
    width: 30em;
  }
  .main-text .content-text p {
    font-size: 1.4em;
  }
  .main-text .background-image-one {
    display: block;
    position: absolute;
    z-index: -1;
    width: 15%;
    top: 35em;
    left: 2em;
    transform: rotate(-20deg);
  }
  .main-text .background-image-two {
    display: block;
    position: absolute;
    z-index: -1;
    width: 15%;
    bottom: 10em;
  }
  .main-text .background-image-three {
    display: block;
    position: absolute;
    z-index: -1;
    width: 15%;
    top: 35em;
    right: 2em;
    transform: rotate(20deg);
  }
  .main-text > img {
    box-shadow: 0 0 0.2em 0.2em;
  }
  .skills {
    border-top: 1px solid grey;
    display: flex;
    flex-direction: column;
  }
  .skills h2 {
    margin-bottom: 5em;
  }
  .skills .goal-skills {
    height: 10em;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 5em;
  }
  .skills .goal-skills p {
    font-size: 1.3em;
    align-items: flex-end;
    position: relative;
    left: -3em;
  }
  .skills .goal-skills p:last-of-type {
    left: 0.5em;
  }
  .skills .goal-skills img {
    align-self: flex-start;
    justify-content: center;
    width: 5%;
    height: auto;
    position: relative;
    left: 7.2em;
  }
  .skills .skills-image {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 5em;
    justify-content: space-around;
  }
  .skills .skills-image .firstimage,
  .skills .skills-image .secondimage,
  .skills .skills-image .thirdimage,
  .skills .skills-image .fourthimage {
    position: inherit;
    width: 7%;
    filter: drop-shadow(-0.2rem 0 0.2rem rgb(53, 34, 25));
  }
  .skills .skills-image .firstimage > .tooltip-container {
    display: inline-block;
    position: absolute;
    width: 5em;
    height: 3em;
    text-align: center;
    padding: 0.2em 0;
    border-radius: 6px;
    left: -1.5em;
    bottom: -3em;
  }
  .skills .skills-image .firstimage > .tooltip-container .tooltiptext {
    visibility: hidden;
    position: absolute;
    width: 6em;
    background-color: rgb(58, 50, 50);
    color: #fff;
    z-index: 1;
  }
  .skills .skills-image .secondimage > .tooltip-container {
    display: inline-block;
    position: absolute;
    width: 5em;
    height: 3em;
    text-align: center;
    padding: 0.2em 0;
    border-radius: 6px;
    left: -2.8em;
    bottom: -3em;
  }
  .skills .skills-image .secondimage > .tooltip-container .tooltiptext {
    visibility: hidden;
    position: absolute;
    width: 6em;
    background-color: rgb(58, 50, 50);
    color: #fff;
    z-index: 1;
  }
  .skills .skills-image .thirdimage > .tooltip-container {
    display: inline-block;
    position: absolute;
    width: 5em;
    height: 3em;
    text-align: center;
    padding: 0.2em 0;
    border-radius: 6px;
    left: -0.5em;
    bottom: -3em;
  }
  .skills .skills-image .thirdimage > .tooltip-container .tooltiptext {
    visibility: hidden;
    position: absolute;
    width: 6em;
    background-color: rgb(58, 50, 50);
    color: #fff;
    z-index: 1;
  }
  .skills .skills-image .fourthimage > .tooltip-container {
    display: inline-block;
    position: absolute;
    width: 5em;
    height: 3em;
    text-align: center;
    padding: 0.2em 0;
    border-radius: 6px;
    left: -1em;
    bottom: -3em;
  }
  .skills .skills-image .fourthimage > .tooltip-container .tooltiptext {
    visibility: hidden;
    position: absolute;
    width: 6em;
    background-color: rgb(58, 50, 50);
    color: #fff;
    z-index: 1;
  }
  .skills .skills-image .firstimage:hover .tooltiptext {
    visibility: visible;
  }
  .skills .skills-image .secondimage:hover .tooltiptext {
    visibility: visible;
  }
  .skills .skills-image .thirdimage:hover .tooltiptext {
    visibility: visible;
  }
  .skills .skills-image .fourthimage:hover .tooltiptext {
    visibility: visible;
  }
  .skills .skills-image .secondimage {
    width: 5.5em;
  }
  .skills .skills-image img {
    width: 100%;
  }
  .container-footer {
    background-image: url(/assets/images/cool-background\(4\).png);
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 0;
  }
  .container-footer .footer {
    left: -2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  .copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5.5em 0 2em 0;
    border: 1px solid grey;
    background-color: #f2f2f2;
  }
  .copyright p {
    font-size: 1.2em;
  }
  .projects-container {
    height: 40em;
    display: flex;
    flex-direction: row;
    overflow: hidden;
  }
  .projects-container .prova {
    height: 30em;
    width: 30em;
    margin: 0 5em;
  }
  .projects-container p {
    margin-top: auto;
  }
}